<!DOCTYPE html>
<html>
<head>
	{{! 页面配置 }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{! 页面Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{! 响应Meta标签 }}
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{customSiteHtml}}}
	{{{body}}}
	{{ghost_foot}}
</body>
</html>
