<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    {{!-- The blog navigation links --}}
    {{navigation}}
    <div class="site-wrapper">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix"></footer>
    </div>
    {{ghost_foot}}
    <script>
        var a=["menu-button","nav-cover","nav-close"];
        function hasClass(obj, cls) {  return obj.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));}  
        function addClass(obj, cls) {  if (!this.hasClass(obj, cls)) obj.className += " " + cls;}  
        function removeClass(obj, cls) {  if (hasClass(obj, cls)) {  var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');  obj.className = obj.className.replace(reg, ' ');  }  }  
        function toggleClass(obj,cls){  if(hasClass(obj,cls)){  removeClass(obj, cls);  }else{  addClass(obj, cls);}}  
        for(var i=0,k=a.length;i<k;i++){
            document.getElementsByClassName(a[i])[0].addEventListener('click', function (){toggleClass(document.body,"nav-opened nav-closed")});  
        }
    </script>
</body>
</html>
